<div class="container">
    <div class="benefit-block md:py-20 py-10">
        <div class="heading text-center">
            <div class="heading3">Why Parents Trust Us</div>
            <div class="hading6 normal-case text-secondary text-center mt-3">Crafted by moms, backed by experts, trusted by families nationwide.</div>
        </div>
        <div class="list-benefit grid items-start lg:grid-cols-4 grid-cols-2 gap-[30px] md:mt-10 mt-6">
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-phone-call lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">Clean Ingredients</div>
                <div class="caption1 text-secondary text-center mt-3">Only natural, chemical-free ingredients made safe for children.</div>
            </div>
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-return lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">Mother-Made Care</div>
                <div class="caption1 text-secondary text-center mt-3">Handmade in small batches by two moms with love and care.</div>
            </div>
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-guarantee lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">Pediatrician Approved </div>
                <div class="caption1 text-secondary text-center mt-3">Every product tested and recommended by health care experts.
                </div>
            </div>
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-delivery-truck lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">Rooted in Tradition </div>
                <div class="caption1 text-secondary text-center mt-3">Locally crafted using time-tested Indian recipes and gentle methods.
                   </div>
            </div>
        </div>
    </div>
</div>