<!-- Benefits Section -->
<div class="container">
    <div class="benefit-block md:py-20 py-10">
        <div class="heading text-center">
            <div class="heading3">What Makes Us Different</div>
            <div class="hading6 normal-case text-secondary text-center mt-3">Sign up for early sale access, new in, promotions and more</div>
        </div>
        <div class="list-benefit grid items-start lg:grid-cols-4 grid-cols-2 gap-[30px] md:mt-10 mt-6">
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-phone-call lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">24/7 Customer Service</div>
                <div class="caption1 text-secondary text-center mt-3">We&apos;re here to help you with any questions or concerns you have, 24/7.</div>
            </div>
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-return lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">14-Day Money Back</div>
                <div class="caption1 text-secondary text-center mt-3">If you&apos;re not satisfied with your purchase, simply return it within 14 days for a refund.</div>
            </div>
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-guarantee lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">Our Guarantee</div>
                <div class="caption1 text-secondary text-center mt-3">We stand behind our products and services and guarantee your satisfaction.</div>
            </div>
            <div class="benefit-item flex flex-col items-center justify-center">
                <i class="icon-delivery-truck lg:text-7xl text-5xl"></i>
                <div class="heading6 text-center mt-5">Shipping worldwide</div>
                <div class="caption1 text-secondary text-center mt-3">We ship our products worldwide, making them accessible to customers everywhere.</div>
            </div>
        </div>
    </div>
</div>
