<main class="container mx-auto px-4 py-10 max-w-3xl">
  <!-- <h1 class="text-3xl font-bold mb-2 text-primary">Cookie Policy</h1> -->
  <!-- <div class="text-sm text-gray-500 mb-6">
    <span>Effective Date: <strong>[Insert Date]</strong></span><br>
    <span>Last Updated: <strong>[Insert Date]</strong></span>
  </div> -->
  <p class="mb-6 mt-5">
    Our website uses cookies to enhance user experience, analyze website traffic, and personalize content.
  </p>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mt-8 mb-2 text-primary">What are cookies?</h2>
    <p class="mb-6">
      Cookies are small text files stored on your device to help our site remember you and your preferences.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mt-8 mb-2 text-primary">Why do we use cookies?</h2>
    <ul class="list-disc pl-6 mb-6">
      <li>To maintain cart and session information</li>
      <li>For performance and analytics</li>
      <li>For personalization and marketing</li>
    </ul>
  </section>

  <section>
    <h2 class="text-xl font-semibold mt-8 mb-2 text-primary">Managing Cookies</h2>
    <p class="mb-6">
      You can disable cookies in your browser settings, but some features of our website may not function properly without them.
    </p>
  </section>
</main>
