<div class="featured-product toys-kid md:pt-20 pt-10">
    <div class="container relative">
        <div class="content list-testimonial flex items-center justify-between max-sm:flex-col gap-8 bg-surface md:p-[60px] p-10 rounded-[28px]">
            <div class="left list-avatar bg-product sm:w-1/2">
                <div class="bg-img rounded-[20px] overflow-hidden" data-item="1">
                    <img src="./assets/images/product/1000x1000.png" alt="name" class="avatar w-full h-full aspect-square object-cover" />
                </div>
                <div class="bg-img rounded-[20px] overflow-hidden" data-item="2">
                    <img src="./assets/images/product/1000x1000.png" alt="name" class="avatar w-full h-full aspect-square object-cover" />
                </div>
                <div class="bg-img rounded-[20px] overflow-hidden" data-item="3">
                    <img src="./assets/images/product/1000x1000.png" alt="name" class="avatar w-full h-full aspect-square object-cover" />
                </div>
            </div>
            <div class="right sm:w-1/2 w-full xl:pl-[150px] xl:pr-[80px] sm:pl-[80px] sm:pr-8 px-6">
                <div class="hide-product-sold section-swiper-navigation style-outline style-small-border relative">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper swiper-testimonial-four h-full">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-item="1">
                                <div class="product-item grid-type" data-item="90">
                                    <div class="product-main cursor-pointer block">
                                        <div class="product-thumb bg-white relative overflow-hidden rounded-2xl">
                                            <div class="product-tag text-button-uppercase bg-red text-white px-3 py-0.5 inline-block rounded-full absolute top-3 left-3 z-[1]">Sale</div>
                                            <div class="list-action-right absolute top-3 right-3 max-lg:hidden">
                                                <div class="add-wishlist-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">Add To Wishlist</div>
                                                    <i class="ph ph-heart text-lg"></i>
                                                </div>
                                                <div class="compare-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative mt-2">
                                                    <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">Compare Product</div>
                                                    <i class="ph ph-arrow-counter-clockwise text-lg compare-icon"></i>
                                                    <i class="ph ph-check-circle text-lg checked-icon"></i>
                                                </div>
                                            </div>
                                            <div class="product-img w-full h-full aspect-[3/4]">
                                                <img class="w-full h-full object-cover duration-700" src="./assets/images/product/1000x1000.png" alt="img" />
                                                <img class="w-full h-full object-cover duration-700" src="./assets/images/product/1000x1000.png" alt="img" />
                                            </div>
                                            <div class="list-action grid grid-cols-2 gap-3 px-5 absolute w-full bottom-5 max-lg:hidden">
                                                <div class="quick-view-btn w-full text-button-uppercase py-2 text-center rounded-full duration-300 bg-white hover:bg-black hover:text-white">Quick View</div>
                                                <div class="add-cart-btn w-full text-button-uppercase py-2 text-center rounded-full duration-500 bg-white hover:bg-black hover:text-white">Add To Cart</div>
                                            </div>
                                        </div>
                                        <div class="product-infor mt-4 lg:mb-7">
                                            <div class="product-sold sm:pb-4 pb-2">
                                                <div class="progress bg-line h-1.5 w-full rounded-full overflow-hidden relative">
                                                    <div class="progress-sold bg-red absolute left-0 top-0 h-full"></div>
                                                </div>
                                                <div class="flex items-center justify-between gap-3 gap-y-1 flex-wrap mt-2">
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Sold: </span>
                                                        <span class="max-sm:text-xs">12</span>
                                                    </div>
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Available: </span>
                                                        <span class="max-sm:text-xs">88</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-name text-title duration-300">Faux-leather trousers</div>
                                            <div class="list-color py-2 max-md:hidden flex items-center gap-3 flex-wrap duration-500">
                                                <div class="color-item bg-black w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Black</div>
                                                </div>
                                                <div class="color-item bg-green w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Green</div>
                                                </div>
                                                <div class="color-item bg-red w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Red</div>
                                                </div>
                                            </div>

                                            <div class="product-price-block flex items-center gap-2 flex-wrap mt-1 duration-300 relative z-[1]">
                                                <div class="product-price text-title">$40.00</div>
                                                <div class="product-origin-price caption1 text-secondary2">
                                                    <del>$50.00</del>
                                                </div>
                                                <div class="product-sale caption1 font-medium bg-green px-3 py-0.5 inline-block rounded-full">-20%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-item="2">
                                <div class="product-item grid-type" data-item="91">
                                    <div class="product-main cursor-pointer block">
                                        <div class="product-thumb bg-white relative overflow-hidden rounded-2xl">
                                            <div class="product-tag text-button-uppercase bg-red text-white px-3 py-0.5 inline-block rounded-full absolute top-3 left-3 z-[1]">Sale</div>
                                            <div class="list-action-right absolute top-3 right-3 max-lg:hidden">
                                                <div class="add-wishlist-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">Add To Wishlist</div>
                                                    <i class="ph ph-heart text-lg"></i>
                                                </div>
                                                <div class="compare-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative mt-2">
                                                    <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">Compare Product</div>
                                                    <i class="ph ph-arrow-counter-clockwise text-lg compare-icon"></i>
                                                    <i class="ph ph-check-circle text-lg checked-icon"></i>
                                                </div>
                                            </div>
                                            <div class="product-img w-full h-full aspect-[3/4]">
                                                <img class="w-full h-full object-cover duration-700" src="./assets/images/product/1000x1000.png" alt="img" />
                                                <img class="w-full h-full object-cover duration-700" src="./assets/images/product/1000x1000.png" alt="img" />
                                            </div>
                                            <div class="list-action grid grid-cols-2 gap-3 px-5 absolute w-full bottom-5 max-lg:hidden">
                                                <div class="quick-view-btn w-full text-button-uppercase py-2 text-center rounded-full duration-300 bg-white hover:bg-black hover:text-white">Quick View</div>
                                                <div class="add-cart-btn w-full text-button-uppercase py-2 text-center rounded-full duration-500 bg-white hover:bg-black hover:text-white">Add To Cart</div>
                                            </div>
                                        </div>
                                        <div class="product-infor mt-4 lg:mb-7">
                                            <div class="product-sold sm:pb-4 pb-2">
                                                <div class="progress bg-line h-1.5 w-full rounded-full overflow-hidden relative">
                                                    <div class="progress-sold bg-red absolute left-0 top-0 h-full"></div>
                                                </div>
                                                <div class="flex items-center justify-between gap-3 gap-y-1 flex-wrap mt-2">
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Sold: </span>
                                                        <span class="max-sm:text-xs">12</span>
                                                    </div>
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Available: </span>
                                                        <span class="max-sm:text-xs">88</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-name text-title duration-300">Faux-leather trousers</div>
                                            <div class="list-color py-2 max-md:hidden flex items-center gap-3 flex-wrap duration-500">
                                                <div class="color-item bg-black w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Black</div>
                                                </div>
                                                <div class="color-item bg-green w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Green</div>
                                                </div>
                                                <div class="color-item bg-red w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Red</div>
                                                </div>
                                            </div>

                                            <div class="product-price-block flex items-center gap-2 flex-wrap mt-1 duration-300 relative z-[1]">
                                                <div class="product-price text-title">$40.00</div>
                                                <div class="product-origin-price caption1 text-secondary2">
                                                    <del>$50.00</del>
                                                </div>
                                                <div class="product-sale caption1 font-medium bg-green px-3 py-0.5 inline-block rounded-full">-20%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-item="3">
                                <div class="product-item grid-type" data-item="92">
                                    <div class="product-main cursor-pointer block">
                                        <div class="product-thumb bg-white relative overflow-hidden rounded-2xl">
                                            <div class="product-tag text-button-uppercase bg-red text-white px-3 py-0.5 inline-block rounded-full absolute top-3 left-3 z-[1]">Sale</div>
                                            <div class="list-action-right absolute top-3 right-3 max-lg:hidden">
                                                <div class="add-wishlist-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">Add To Wishlist</div>
                                                    <i class="ph ph-heart text-lg"></i>
                                                </div>
                                                <div class="compare-btn w-[32px] h-[32px] flex items-center justify-center rounded-full bg-white duration-300 relative mt-2">
                                                    <div class="tag-action bg-black text-white caption2 px-1.5 py-0.5 rounded-sm">Compare Product</div>
                                                    <i class="ph ph-arrow-counter-clockwise text-lg compare-icon"></i>
                                                    <i class="ph ph-check-circle text-lg checked-icon"></i>
                                                </div>
                                            </div>
                                            <div class="product-img w-full h-full aspect-[3/4]">
                                                <img class="w-full h-full object-cover duration-700" src="./assets/images/product/1000x1000.png" alt="img" />
                                                <img class="w-full h-full object-cover duration-700" src="./assets/images/product/1000x1000.png" alt="img" />
                                            </div>
                                            <div class="list-action grid grid-cols-2 gap-3 px-5 absolute w-full bottom-5 max-lg:hidden">
                                                <div class="quick-view-btn w-full text-button-uppercase py-2 text-center rounded-full duration-300 bg-white hover:bg-black hover:text-white">Quick View</div>
                                                <div class="add-cart-btn w-full text-button-uppercase py-2 text-center rounded-full duration-500 bg-white hover:bg-black hover:text-white">Add To Cart</div>
                                            </div>
                                        </div>
                                        <div class="product-infor mt-4 lg:mb-7">
                                            <div class="product-sold sm:pb-4 pb-2">
                                                <div class="progress bg-line h-1.5 w-full rounded-full overflow-hidden relative">
                                                    <div class="progress-sold bg-red absolute left-0 top-0 h-full"></div>
                                                </div>
                                                <div class="flex items-center justify-between gap-3 gap-y-1 flex-wrap mt-2">
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Sold: </span>
                                                        <span class="max-sm:text-xs">12</span>
                                                    </div>
                                                    <div class="text-button-uppercase">
                                                        <span class="text-secondary2 max-sm:text-xs">Available: </span>
                                                        <span class="max-sm:text-xs">88</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-name text-title duration-300">Faux-leather trousers</div>
                                            <div class="list-color py-2 max-md:hidden flex items-center gap-3 flex-wrap duration-500">
                                                <div class="color-item bg-black w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Black</div>
                                                </div>
                                                <div class="color-item bg-green w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Green</div>
                                                </div>
                                                <div class="color-item bg-red w-8 h-8 rounded-full duration-300 relative">
                                                    <div class="tag-action bg-black text-white caption2 capitalize px-1.5 py-0.5 rounded-sm">Red</div>
                                                </div>
                                            </div>

                                            <div class="product-price-block flex items-center gap-2 flex-wrap mt-1 duration-300 relative z-[1]">
                                                <div class="product-price text-title">$40.00</div>
                                                <div class="product-origin-price caption1 text-secondary2">
                                                    <del>$50.00</del>
                                                </div>
                                                <div class="product-sale caption1 font-medium bg-green px-3 py-0.5 inline-block rounded-full">-20%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>