<!-- Hero Slider Section -->
<div class="slider-block style-one bg-linear xl:h-[860px] lg:h-[800px] md:h-[580px] sm:h-[500px] h-[350px] max-[420px]:h-[320px] w-full">
    <div class="slider-main h-full w-full">
        <div class="swiper swiper-slider h-full relative">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-item h-full w-full relative">
                        <div class="container w-full h-full flex items-center relative">
                            <div class="text-content basis-1/2">
                                <div class="text-sub-display">Sale! Up To 50% Off!</div>
                                <div class="text-display md:mt-5 mt-2">Summer Sale Collections</div>
                                <a href="shop-breadcrumb-img.html" class="button-main md:mt-8 mt-3">Shop Now</a>
                            </div>
                            <div class="sub-img absolute sm:w-1/2 w-3/5 2xl:-right-[60px] -right-[16px] bottom-0">
                                <img src="./assets/images/slider/bg1-1.png" alt="bg1-1" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-item h-full w-full relative">
                        <div class="container w-full h-full flex items-center relative">
                            <div class="text-content basis-1/2">
                                <div class="text-sub-display">Sale! Up To 50% Off!</div>
                                <div class="text-display md:mt-5 mt-2">Fashion for Every Occasion</div>
                                <a href="shop-breadcrumb-img.html" class="button-main md:mt-8 mt-3">Shop Now </a>
                            </div>
                            <div class="sub-img absolute w-1/2 2xl:-right-[60px] -right-[0] sm:-bottom-[60px] bottom-0">
                                <img src="./assets/images/slider/bg1-2.png" alt="bg1-2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-item h-full w-full relative">
                        <div class="container w-full h-full flex items-center relative">
                            <div class="text-content basis-1/2">
                                <div class="text-sub-display">Sale! Up To 50% Off!</div>
                                <div class="text-display md:mt-5 mt-2">Stylish Looks for Any Season</div>
                                <a href="shop-breadcrumb-img.html" class="button-main md:mt-8 mt-3">Shop Now </a>
                            </div>
                            <div class="sub-img absolute sm:w-1/2 w-2/3 2xl:-right-[60px] -right-[36px] sm:bottom-0 -bottom-[30px]">
                                <img src="./assets/images/slider/bg1-3.png" alt="bg1-3" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
