<div class="news-block md:py-20 py-10">
    <div class="container">
        <div class="heading3 text-center">News insight</div>
        <div class="list-blog grid lg:grid-cols-3 sm:grid-cols-2 md:gap-[30px] gap-4 md:mt-10 mt-6">
            <a href="blog-detail1.html" class="blog-item style-one h-full cursor-pointer">
                <div class="blog-main h-full block">
                    <div class="blog-thumb rounded-[20px] overflow-hidden">
                        <img src="./assets/images/blog/toys1.png" alt="blog-img" class="w-full duration-500" />
                    </div>
                    <div class="blog-infor mt-7">
                        <div class="blog-tag bg-green py-1 px-2.5 rounded-full text-button-uppercase inline-block">body lotion</div>
                        <div class="heading6 blog-title mt-3 duration-300">Bed Trends to Watch Out for in Summer 2024</div>
                        <div class="flex items-center gap-2 mt-2">
                            <div class="blog-author caption1 text-secondary">by Chris Evans</div>
                            <span class="w-[20px] h-[1px] bg-black"></span>
                            <div class="blog-date caption1 text-secondary">Dec 20, 2024</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="blog-detail1.html" class="blog-item style-one h-full cursor-pointer">
                <div class="blog-main h-full block">
                    <div class="blog-thumb rounded-[20px] overflow-hidden">
                        <img src="./assets/images/blog/toys2.png" alt="blog-img" class="w-full duration-500" />
                    </div>
                    <div class="blog-infor mt-7">
                        <div class="blog-tag bg-green py-1 px-2.5 rounded-full text-button-uppercase inline-block">toys</div>
                        <div class="heading6 blog-title mt-3 duration-300">How to Build a Sustainable and Stylish Wardrobe 2024</div>
                        <div class="flex items-center gap-2 mt-2">
                            <div class="blog-author caption1 text-secondary">by Alex Balde</div>
                            <span class="w-[20px] h-[1px] bg-black"></span>
                            <div class="blog-date caption1 text-secondary">Dec 12, 2024</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="blog-detail1.html" class="blog-item style-one h-full cursor-pointer max-lg:hidden max-sm:block">
                <div class="blog-main h-full block">
                    <div class="blog-thumb rounded-[20px] overflow-hidden">
                        <img src="./assets/images/blog/toys3.png" alt="blog-img" class="w-full duration-500" />
                    </div>
                    <div class="blog-infor mt-7">
                        <div class="blog-tag bg-green py-1 px-2.5 rounded-full text-button-uppercase inline-block">blankets</div>
                        <div class="heading6 blog-title mt-3 duration-300">Blankets and Pads for Kids Trending in 2024</div>
                        <div class="flex items-center gap-2 mt-2">
                            <div class="blog-author caption1 text-secondary">by Leona Pablo</div>
                            <span class="w-[20px] h-[1px] bg-black"></span>
                            <div class="blog-date caption1 text-secondary">Dec 10, 2024</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>