<div class="banner-block md:pt-20 pt-10">
    <div class="container">
        <div class="list-banner grid lg:grid-cols-3 sm:grid-cols-2 lg:gap-[30px] gap-[20px]">
            <a href="shop-breadcrumb-img.html" class="banner-item relative block duration-500">
                <div class="banner-img w-full rounded-2xl overflow-hidden">
                    <img src="./assets/images/banner/3.png" class="w-full duration-500" alt="img" />
                </div>
                <div class="banner-content absolute left-[30px] bottom-[30px]">
                    <div class="heading4">Porridge Mix</div>
                    <div class="text-button text-black relative inline-block pb-1 border-b-2 border-black duration-500 mt-2">Shop Now</div>
                </div>
            </a>
            <a href="shop-breadcrumb-img.html" class="banner-item relative block duration-500">
                <div class="banner-img w-full rounded-2xl overflow-hidden">
                    <img src="./assets/images/banner/4.png" class="w-full duration-500" alt="img" />
                </div>
                <div class="banner-content absolute left-[30px] bottom-[30px]">
                    <div class="heading4">Hair & Skin Care</div>
                    <div class="text-button text-black relative inline-block pb-1 border-b-2 border-black duration-500 mt-2">Shop Now</div>
                </div>
            </a>
            <a href="shop-breadcrumb-img.html" class="banner-item relative block duration-500 max-lg:hidden">
                <div class="banner-img w-full rounded-2xl overflow-hidden">
                    <img src="./assets/images/banner/5.png" class="w-full duration-500" alt="img" />
                </div>
                <div class="banner-content absolute left-[30px] bottom-[30px]">
                    <div class="heading4">Health Care</div>
                    <div class="text-button text-black relative inline-block pb-1 border-b-2 border-black duration-500 mt-2">Shop Now</div>
                </div>
            </a>
        </div>
    </div>
</div>